pandas==2.1.1
matplotlib==3.8.0
numpy==1.26.0
Flask==2.3.2
Pillow==10.0.1
torch==2.2.0
gevent==24.2.1
gunicorn==22.0.0
tensorflow==2.15.0
keras==2.15.0
torchvision==0.17.0
psycopg2-binary==2.9.9
Flask-SQLAlchemy==3.0.5
python-dotenv