<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <title>AI-Powered Skin Disease Detection</title>
    <meta name="description" content="Skin Disease detection and treatment management susceptibility by AI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- JavaScript -->
    <script src="/static/js/main.js"></script>
</head>

<body>
    <div class="upper">
        <img src="/static/images/app.png">
        <p>AI-Powered Skin Disease Detection</p>
    </div>

    <div>
        <button onclick="location.href='/signin';"> Get started</button>
    </div>


</body>

</html>